body{
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100vh;
}

.qua{
    animation: tam 4s linear infinite;
}

@keyframes tam {
     0%{
        width: 0px;
        height: 0px;
         background-color: red;
     }
 
       
     50%{
        width: 100px;
        height: 100px;
         background-color: yellow;
     }
               
     100%{
        width: 200px;
        height: 200px;
        background-color: blue;
         
}

}

